body {
    width: 100vw;
    height: 100vh;
    background-color: #f2f3f5;
    margin: 3rem auto;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 0.5s; */
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
}

body:hover .accordion_plus {
    display: block;
}

.container {
    margin: 0 4rem;
}

p {
    margin: 0;
    font-size: 2rem;
}

img {
    width: 25rem;
    border-radius: 50%;
}

input {
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.accordion-label {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    font-weight: bold;
    cursor: pointer;
}

/* plus.svg */
.accordion_plus {
    display: none;
    text-align: center;
    height: 1rem;
    width: 1rem;
}

.accordion_img {
    display: none;
    width: 100%;
    max-height: 0;
    margin: 0 auto;
    padding-bottom: 1em;
    transition: all 0.5s;
    cursor: pointer;
}

input:checked + .accordion_label .accordion_img {
    display: flex;
    justify-content: center;
    animation: scale 0.5s linear;
    max-height: 100%;
    transition: all 0.5s;
}

.accordion_label_content {
    outline: none;
    width: 100%;
    min-height: 4rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 0.15rem solid lightgrey;
    cursor: pointer;
}

input:checked ~ .accordion_label .accordion_label_content .accordion_plus {
    transform: rotate(45deg);
    transition: all 0.5s;
}

input ~ .accordion_label .accordion_label_content .accordion_plus {
    transition: all 0.5s;
}

.accordion_label:hover .accordion_img,
.accordion_label:focus .accordion_img {
    display: flex;
    justify-content: center;
    animation: scale 0.5s linear;
    max-height: 100%;
    transition: all 0.5s;
}

.accordion_label:hover .accordion_label_content .accordion_plus,
.accordion_label:focus .accordion_label_content .accordion_plus {
    transition: all 0.5s;
    transform: rotate(45deg);
}
.accordion_label:active {
    color: blue;
    transition: color 0.1s;
}

/* .accordion_item:hover  .accordion_svg {
  transition: all 0.5s;
  transform: rotate(45deg);
} */

/* .accordion_item:focus .accordion_content,
.accordion_item:hover .accordion_content {
    transition: all 1s ease-out;
    display: block;
    animation: scale 0.5s linear;
    animation-iteration-count: 1;
} */

/* 
.accordion_item:focus .accordion_svg,
.accordion_item:hover .accordion_svg {
    transform: rotate(45deg);
    transition: all 0.5s ease-out;
    cursor: cell;
} */

@keyframes scale {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

/* red line */
.blink {
    animation: blinker 1.5s linear infinite;
    color: red;
    font-size: 2rem;
    margin-top: 3rem;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* MEDIA */

@media (min-width: 1200px) {
    body {
        background: #565656;
    }
    .accordion_label_content_p {
        font-size: 2rem;
        font-weight: bold;
    }
}
@media (max-width: 1200px) {
    body {
        background: #888888;
    }
    .container {
        margin: 0 2.5rem;
    }
    .accordion_label_content_p {
        font-size: 1.9rem;
        font-weight: bold;
    }
}

@media (max-width: 1024px) {
    body {
        background: #b0b0b0;
    }
    .accordion_label_content_p {
        font-size: 1.8rem;
        font-weight: bold;
    }
    img {
        width: 20rem;
    }
}

@media (max-width: 768px) {
    body {
        background: #c5c5c5;
    }
    .container {
        margin: 0 2rem;
    }
    .accordion_label_content_p {
        font-size: 1.6rem;
        font-weight: bold;
    }
    .accordion_plus {
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }
    img {
        width: 18rem;
    }
}

@media (max-width: 480px) {
    body {
        background: #dddddd;
    }
    .container {
        margin: 0 1.5rem;
    }
    h1 {
        font-size: 1.8rem;
    }
    .accordion_label_content_p {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .accordion_plus {
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }
    img {
        width: 12rem;
    }
}
