
body {
    width: 100%;
    height: 100%;
    background-color: #f2f3f5;
    margin: 3rem auto;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    scroll-behavior: smooth;
    color: blue;
    transition: all 0.5s;

}

.container {
    max-width: 70rem;
    margin: 0 4rem;
}

p {
    margin: 0;
    font-size: 2rem;
}

input {
    display: none;
    visibility: hidden;
}

.accordion:hover {
    color: black;
}

.accordion-label {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    font-weight: bold;
    cursor: pointer;
}

/* plus.svg */
.accordion_plus {
    display: none;
    text-align: center;
    height: 1rem;
    width: 1rem;
}

.accordion_img {
    display: none;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1em;
    cursor: pointer;
}

img {
    width: 25rem;
    border-radius: 50%;
}

.accordion:hover .accordion_plus {
    display: block;
}

.section:hover, .section:focus {
  color: black;
}

.accordion_label_content {
    width: 100%;
    min-height: 4rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 0.15rem solid lightgrey;
    cursor: pointer;
}

input:checked + .accordion_label .accordion_img {
  display: flex;
  justify-content: center;
  animation: scale 0.5s linear;
  max-height: 100%;
}
input:checked ~ .accordion_label .accordion_label_content .accordion_plus {
    transform: rotate(45deg);
}

.section:hover .accordion_img {
    display: flex;
    justify-content: center;
    animation: scale 0.5s linear;
    max-height: 100%;
    
}
.section:hover .accordion_label_content .accordion_plus {
    transform: rotate(45deg);
    transition: transform 0.5s;
}
.section:active {
    color: blue;
    transition: color 0.2s;
}





/* MEDIA */
@media (hover: hover) {
    /* when hover is supported */
    .accordion:hover {
        display: block;
    }
}
@media (min-width: 320px) {
    body {
        background: #f6f6f6;
    }
    .container {
        margin: 0 1.5rem;
    }
    h1 {
        font-size: 1.8rem;
    }
    .accordion_label_content_p {
        font-size: 1.5rem;
        font-weight: bold;
    }
    img {
        width: 12rem;
    }
}
@media (min-width: 425px) {
    body {
        background: #d6d6d6;
    }
    .accordion_label_content_p {
        font-size: 1.65rem;
        font-weight: bold;
    }
}
@media (min-width: 768px) {
    body {
        background: #b1b1b1;
    }
    .container {
        margin: 0 1.5rem;
    }
    h1 {
        font-size: 1.8rem;
    }
    .accordion_label_content_p {
        font-size: 1.8rem;
        font-weight: bold;
    }
    img {
        width: 12rem;
    }
}
@media (min-width: 1024px) {
    body {
        background: #868686;
    }
    .container {
        margin: 0 2rem;
    }
    .accordion_label_content_p {
        font-size: 2rem;
        font-weight: bold;
    }
    img {
        width: 18rem;
    }
}
@media (min-width: 1200px) {
    body {
        background: #4a4a4a;
    }
    .container {
        margin: 0 auto;
    }
    .accordion_label_content_p {
        font-size: 2.2rem;
        font-weight: bold;
    }
}

/* img scale animation */
@keyframes scale {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

/* red line 'Reload for new pics!'*/
.blink {
    animation: blink 1.5s linear infinite;
    color: red;
    font-size: 2rem;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}
